<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Projeto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>aki e o header</h1>
    
  </header>
  <article>
    <h1>aki e o article</h1>
  </article>
  <main>
    <div>
      <h1>Bem-vindo ao meu site Flask!</h1>
    <p>Este é um exemplo básico de um aplicativo web com Flask.</p>
    <h3>oi gabriel</h3>
    </div>
  </main>
  <footer>
    <h1>creator <bold>Jeredy</bold></h1>
    
  </footer>
    
</body>
</html>

